h1{
    font-family: 'Oswald', 'Times New Roman', Times, serif;
    font-size: 150px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 20%;
}
.mainpic{ 
  text-align: center;
  background: url("http://cdn.wallpapersafari.com/9/64/mUbVzc.jpg") no-repeat center center;
  background-size: cover;
  height: 600px;

}
footer{
    font-family: 'Oswald';

}
.mainpic .container {
    position: relative;
    top: 100px;
}
.mainpic .btn {
    background-color: #1c1c1c;
    color: #fff;
    font-size: 18px;
    padding: 8px 30px;
    text-decoration: none;
    display: inline-block;
    font-family: 'oswald'
}