
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="post">
    Username:
    <br>
    <input type="text" name="username"><br/>
    Password:
    <br/>
    <input type="password" name="psw">
    <br/>
    <input type="submit" value="Submit" />
</form>
