@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WEBVNUE</h1>
    <p class="lead">MAKE BILLIONS TODAY!!!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
                SICK OF BEING A SAD CUNT?
                BE A SICK KUNT AND JOIN AND MAKE MILLIONS
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>

<span class="label label-danger">WATCH OUT MOTHER FUCKER!!!</span>