@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <link href="/Content/Site.css" type="text/css" rel="stylesheet">
    <title>WEBVNUE</title>
</head>
<div class="mainpic">
    <div class="container">
        <h1><span style="color:darkgrey">WEB</span><span style="color:cornflowerblue">VNUE</span></h1>
        <a class="btn" href="/Register">SIGN UP</a>
        <a class="btn" href="/Login">Login</a>
        <a class="btn" href="/Account">Account</a>
    </div>

</div>